* {
  margin: 0;
  padding: 0;
  color: gray;
}
/* utils */
.text-green {
  color: #14a800;
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}
.bg-green {
  background-color: #14a800 !important;
}
ul {
  list-style-type: none;
}
.fs-normal {
  font-size: 16px;
}
.fs-sm {
  font-size: 24px;
}
.fs-md {
  font-size: 36px;
}
.fs-lg {
  font-size: 70px;
}
.btn {
  border: none;
  outline: none;
  background: transparent;
  padding: 7px 25px;
  border-radius: 20px;
}
.b-gray {
  border: 1px solid gray;
}
.b-green {
  border: 1px solid #14a800;
}
/*  flex properties */
.d-flex {
  display: flex;
}
.justify-content-start {
  justify-content: start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-end {
  justify-content: end;
}
.align-items-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
/* flex properties end */
.p-relative {
  position: relative;
}
.container {
  width: 90%;
  margin: auto;
}
nav ul li {
  padding: 5px 10px;
}
.row {
  display: flex;
  /* flex-wrap: wrap; */
}
.icon {
  font-size: 12px;
}
nav section {
  margin-top: 1.5em;
}

/* utils end */

/* nav start */
.logo img {
  width: 100%;
}
.search input {
  border: none;
  outline: none;
}
.search {
  border-radius: 15px;
  padding: 5px 15px;
}
.navContainer {
  border-bottom: 1px solid gray;
  padding: 10px 0;
}

/* nav end */

/* header start  */
header {
  margin-top: 3em;
}
header .headings,
.pera,
.btns,
.logos {
  margin: 1em 0;
}
header .img {
  width: 300px;
}
header .img img {
  width: 100%;
}

/* header end */

/* clients start  */

.client {
}
.clientCont {
  background-image: url("https://www.upwork.com/static/assets/Brontes/bc6c7478/img/find-talent.bf9ad20.jpg");
  background-position: top center;
  background-size: cover;
  padding: 15px 20px;
  border-radius: 10px;
}
.client .row {
  margin: 2em 0;
}
.client .col {
  width: 250px;
  border-radius: 10px;
  height: 150px;
  padding: 10px 15px;
}
.f-client,
.clientHeading,
.clientPera {
  margin-bottom: 2em;
}
/* clients end */

/* business start  */
.business {
  margin-top: 5em;
}
.business .imgCont {
  position: absolute;
  top: -4em;
  right: -7em;
  width: 300px;
}
.business .icons {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  color: white;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 5px;
}
.business .icons i {
  font-size: 10px;
}
.business .imgCont img {
  width: 100%;
}
.busMainCol {
  padding: 15px 20px;
  border-radius: 10px;
}
.busHeading {
  margin: 2em 0;
}
.Innercol {
  margin-bottom: 2em;
}
/* business end  */
