* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
body {
  background-color: lightcyan;
}
.main {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.calculator {
  width: 350px;
  margin: 10px auto;
}
.displayInput {
  background-color: lightgray;
  color: black;
  width: 100%;
  height: 100px;
  font-size: 1.3em;
  border: none;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
}
.buttons button {
  width: 70px;
  height: 70px;
  padding: 10px;
  border-radius: 35px;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: darkcyan;
  color: white;
  font-size: 1.2em;
  margin: 5px;
}
